@model IEnumerable<ProjetoNovaViagens.Models.Cliente>
@{
    ViewData["Title"] = "Destinos";
}


    <div class="login">
        <div>
            <fieldset>

                <legend>FAÇA SEU CADASTRO</legend>

                <input type="text" name="name" placeholder="Nome">
                <input type="text" name="address" placeholder="Endereço">
                <input type="tel" name="tel" placeholder="Telefone">
                <input type="email" name="email" placeholder="email">
                <input type="number" name="RG" placeholder="RG">
                <input type="number" name="CPF" placeholder="CPF">
                <input type="text" name="Plan" placeholder="Plano">
                <input type="text" name="criarLogin" placeholder="criar login">
                <input type="password" name="criarSenha" placeholder="criar senha">
                <input type="submit" value="ENVIAR">

            </fieldset>
        </div>
    </div>

