@model IEnumerable<ProjetoNovaViagens.Models.Cliente>
@{
    ViewData["Title"] = "Destinos";
}



<main class="contato">



    <table class="table">
        <thead>
            <tr>
                <th>
                    <span>CONTATO</span><br><br>
                </th>

            </tr>
            </tbody>
    </table>






    <table class="table">
        <thead>
            <tr>
                <th>
                    <a href="tel: 555-555">555-555</a>
                    <a href="https://web.whatsapp.com/" target="_blank">whatsapp</a>
                </th>

            </tr>
            </tbody>
    </table>






</main>