@model IEnumerable<ProjetoNovaViagens.Models.Cliente>
@{
    ViewData["Title"] = "Destinos";
}



<main role="main" class="pb-3">



    <div class="text-center">


        <table class="table">
            <thead>
                <tr>
                    <th>
                        <h3 class="inicialPromocoes">Conheça nossos destinos.</h3>
                    </th>

                </tr>
                </tbody>
        </table>
    </div>





    <div class="row">
        <div class="row">






            <nav class="descricao">
                <pre><p>
                <strong> Disney: </strong>
    Divirta-se e construa lembranças incríveis
    para você e sua família nos melhores
    parques da Disney.
</p></pre>

                

                <div class="carrossel">
                    
                    <div class="containere" id="img">

                        <h4>Disney</h4>

                        <img class="foto" src="../imagens/disney/disney-land-g3d271b329_1920.jpg" alt="Disney">
                        <img class="foto" src="../imagens/disney/mickey-mouse-gb0c57df6d_1920.jpg" alt="ponto turistico">
                        <img class="foto" src="../imagens/disney/mickey-mouse-gce2db6710_1920.png" alt="predio">
                        <img class="foto" src="../imagens/disney/pluto-g99e8ff0fa_1920.jpg" alt="monumento">

                    </div>
                </div>
            </nav>







            <nav class="descricao">
                <pre><p>
                <strong> Dubai: </strong>
    Aqui você terá uma experiência incrível
    visitando as maiores construções do planeta.
</p></pre>
                <div class="carrossel">
                    <div class="containere" id="img">
                        <h4>Dubai</h4>
                        <img class="foto" src="../imagens/dubai/culture-g0a47b2726_1920.jpg" alt="Dubai">
                        <img class="foto" src="../imagens/dubai/dubai-gd15cc56f3_1920.jpg" alt="ponto turistico">
                        <img class="foto" src="../imagens/dubai/dubai-gd4623f568_1920.jpg" alt="predio">
                        <img class="foto" src="../imagens/dubai/hotel-g30ff47685_1920.jpg" alt="monumento">


                    </div>
            </nav>








            <nav class="descricao">
                <pre><p>
                <strong> Portugal: </strong>
    Venha conhecer esse país com sua cultura
    riquíssima e um povo cativante.
</p></pre>
                <div class="carrossel">
                    <div class="containere" id="img">
                        <h4>Portugal</h4>
                        <img class="foto" src="../imagens/lisboa/portugal-gb7165af9b_1920.jpg" alt="Portugal">
                        <img class="foto" src="../imagens/lisboa/terreiro-do-paco-gfe4a668e0_1920.jpg" alt="ponto turistico">
                        <img class="foto" src="../imagens/lisboa/lisbon-gb21fec659_1920.jpg" alt="predio">
                        <img class="foto" src="../imagens/lisboa/lisbon-gd158a624f_1920.jpg" alt="monumento">

                    </div>
            </nav>







            <nav class="descricao">
                <pre><p>
                <strong> Canadá: </strong>
    Conheça as lindas cidades do Canadá como
    Vancouver, Quebec e muitas outras.
</p></pre>
                <div class="carrossel">
                    <div class="containere" id="img">
                        <h4>Canadá</h4>
                        <img class="foto" src="../imagens/vancouver/vancouver-g651cb1e08_1920.jpg" alt="Canadá">
                        <img class="foto" src="../imagens/vancouver/granville-street-gf6ed643c6_1920.jpg" alt="ponto turistico">
                        <img class="foto" src="../imagens/vancouver/delfin-g746f78c35_1920.jpg" alt="predio">
                        <img class="foto" src="../imagens/vancouver/bc-gb17524615_1920.jpg" alt="monumento">

                    </div>
            </nav>




            <nav class="descricao">
                <pre><p>
                <strong> Paris: </strong>
    Venha conhecer o país com uma das paisagens
    e monumentos mais belos e românticos do mundo.
</p></pre>
                <div class="carrossel">
                    <div class="containere" id="img">
                        <h4>Paris</h4>
                        <img class="foto" src="../imagens/paris/eiffel-tower-g16fee8f27_1920.jpg" alt="Torre eiffel">
                        <img class="foto" src="../imagens/paris/pariz-gece1b30d3_1920.jpg" alt="ponto turistico">
                        <img class="foto" src="../imagens/paris/building-g72e9893e7_1280.jpg" alt="predio">
                        <img class="foto" src="../imagens/paris/bourg-en-bresse-g8728b68f1_1920.jpg" alt="monumento">

                    </div>
            </nav>







            <nav class="descricao">
                <pre><p>
                <strong> Suíça: </strong>
    Conheça muitas cidades da Suíça, como
    Zurique e muitas outras.
</p></pre>
                <div class="carrossel">
                    <div class="containere" id="img">
                        <h4>Suíça</h4>
                        <img class="foto" src="../imagens/zurique/zurich-g3c4c126e2_1920.jpg" alt="Suíça">
                        <img class="foto" src="../imagens/zurique/zurich-g398bc466e_1920.jpg" alt="ponto turistico">
                        <img class="foto" src="../imagens/zurique/winter-gbb1a43c9c_1920.jpg" alt="predio">
                        <img class="foto" src="../imagens/zurique/bridge-g1c21d4b0f_1920.jpg" alt="monumento">

                    </div>
            </nav>





        </div>




</main>
