@model IEnumerable<ProjetoNovaViagens.Models.Cliente>
@{
    ViewData["Title"] = "Destinos";
}



<main role="main" class="pb-3">




    <div class="row">


        <table class="table">
            <thead>
                <tr>
                    <th>
                        <h3 class="inicialPromocoes">Confira nossas promoções.</h3>
                    </th>

                </tr>
                </tbody>
        </table>





        <section class="pContainer">

            <section class="produtoPContainer">

                



                <div class="card">

                        <div class="produtoImagem" id="img1"></div>
                        <h5>Africa</h5>
                        <p>Adquira nosso pacote para o continente africano</p>
                        <p>
                            R$ <span class="bold">899,99</span>
                        </p>
                        <a href="#" class="btn">Adquirir</a>

                </div>





   

                <div class="card">
                    <div class="produtoImagem" id="img2"></div>
                    <h5>América</h5>
                    <p>Adquira nosso pacote para o continente americano</p>
                    <p>
                        R$ <span class="bold">3.499,99</span>
                    </p>
                    <a href="#" class="btn">Adquirir</a>

                </div>

                <div class="card">
                    <div class="produtoImagem" id="img3"></div>
                    <h5>América latina</h5>
                    <p>Adquira nosso pacote para a américa latina</p>
                    <p>
                        R$ <span class="bold">799,99</span>
                    </p>
                    <a href="#" class="btn">Adquirir</a>

                </div>

                <div class="card">
                    <div class="produtoImagem" id="img4"></div>
                    <h5>Europa</h5>
                    <p>Adquira nosso pacote para o continente europeu</p>
                    <p>
                        R$ <span class="bold">3.899,99</span>
                    </p>
                    <a href="#" class="btn">Adquirir</a>

                </div>

                <div class="card">
                    <div class="produtoImagem" id="img5"></div>
                    <h5>Japão</h5>
                    <p>Adquira nosso pacote para o Japão</p>
                    <p>
                        R$ <span class="bold">3.899,99</span>
                    </p>
                    <a href="#" class="btn">Adquirir</a>

                </div>

                <div class="card">
                    <div class="produtoImagem" id="img6"></div>
                    <h5>litoral brasileiro</h5>
                    <p>Adquira nosso pacote para o litoral brasileiro</p>
                    <p>
                        R$ <span class="bold">699,99</span>
                    </p>
                    <a href="#" class="btn">Adquirir</a>

                </div>

            </section>

        </section>
    </div>




</main>

